body{
    background:url("bac2.jpg");
    background-size: 150%;
    background-position: -400px 0px;
}
h1 {
    font-family:'Lucida Sans',
    'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:300%;
    line-height: 1.15;
    color: rgb(51, 31, 77);
    text-decoration: overline ;
    
}
p{
    font-family: sans-serif;
    text-align: center;
}